<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">

    <h1 th:text="${title}"></h1>

    <form method="post" action="/cart/remove-item/">

        <div th:each="item : ${cart.items}" class="form-group">
            <input type="checkbox" name="ids" th:value="${item.uid}" th:id="${item.uid}"/>
            <label th:for="${item.uid}" th:text="${item.name} + ' ($' + ${#numbers.formatDecimal(item.price, 0, 'COMMA', 2, 'POINT')} + ')'"></label>
        </div>

        <p th:style="'font-size: 18pt; font-weight: bold;'" th:text="'Total: $'  + ${#numbers.formatDecimal(cart.total, 0, 'COMMA', 2, 'POINT')}"></p>

        <input type="submit" value="Remove Selected" />
    </form>



</div>

</body>

</html>